<html>
	<body>
		<div id="price" class="section secondary-section">
            <div class="container">
                <div class="title">
                    <h1>Clases de Natación</h1>
                    <p>Acuatica TIHUI ofrece clases de natación para bebés, niños y adultos.</p>
					<p>Contamos con alberca techada, agua caliente, servicio de vestidores y regadras,
						estancia de espera y lugares de estacionamiento.</p>
					<p>Horarios: <br /> 
					- Lunes, Miercoles, Jueves y Viernes de 8:00 a 11:00 y 15:00 a 19:00 <br />
					- Sábados y Domingos de 9:00 a 13:00 <br /> 
					- Martes CERRADO</p>
				</div>
                <div class="price-table row-fluid">
                    <div class="span4 price-column">
                        <h3>Bebés</h3>
                        <ul class="list">
                            <li class="price">2 a 6 años</li>
                            <li> 1 clase x semana <strong>$440/mes</strong> <br />
								 2 clases x semana <strong>$720/mes</strong> <br />
								 3 clases x semana <strong>$1,020/mes</strong> <br />
							</li>
                            <li><strong>Duración: </strong> 30 minutos</li>
                            <li><strong>Sesión de visita: </strong> $120</li>
							<li><strong>Grupo: </strong> 5 alumnos/sesión</li>
                            <li><img src="assets/alberca6.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Niños</h3>
                        <ul class="list">
                            <li class="price">7 a 14 años</li>
                            <li> 1 clase x semana <strong>$400/mes</strong> <br />
								 2 clases x semana <strong>$680/mes</strong> <br />
								 3 clases x semana <strong>$960/mes</strong> <br />
							</li>
                            <li><strong>Duración: </strong> 40 minutos</li>
                            <li><strong>Sesión de visita: </strong> $100</li>
							<li><strong>Grupo: </strong> 8 alumnos/sesión</li>
                            <li><img src="assets/alberca5.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Adultos</h3>
                        <ul class="list">
                            <li class="price">15 años en adelante</li>
                            <li> 1 clase x semana <strong>$400/mes</strong> <br />
								 2 clases x semana <strong>$680/mes</strong> <br />
								 3 clases x semana <strong>$960/mes</strong> <br />
								 4 clases x semana <strong>$1,200/mes</strong> <br />
							</li>
                            <li><strong>Duración: </strong> 40 minutos</li>
                            <li><strong>Sesión de visita: </strong> $100</li>
							<li><strong>Grupo: </strong> 8 alumnos/sesión</li>
                            <li><img src="assets/alberca4.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>