<html>
	<body>
		<div id="price" class="section secondary-section">
            <div class="container">
                <div class="title">
                    <h1>Rehabilitación física</h1>
                    <p>*** Todas las imágenes son únicamente ilustrativas ***</p>
                    <p>El centro de terapia física y medicina alternativa/rehabilitación acuática ofrece 
						los servicos de:
					</p>
				</div>
                <div class="price-table row-fluid">
                    <div class="span4 price-column">
                        <h3>Consulta</h3>
                        <ul class="list">
                            <li class="price">$150</li>
                            <li>Se realiza una historia clínica y se determina la terapia a seguir</li>
                            <li>** el numero de sesiones, periodicidad y costo varía de acuerdo al 
								padecimiento del paciente y su gravedad.
							</li>
                            <li><img src="assets/salon12.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Fisioterápia</h3>
                        <ul class="list">
                            <li class="price">$400**</li>
                            <li>Terápia física que incluye: ultrasonido, masaje deportivo, láser, 
								vendaje neuromuscular, homeopatía.
							</li>
                            <li>** el numero de sesiones, periodicidad y costo varía de acuerdo al 
								padecimiento del paciente y su gravedad.
							</li>
                            <li><img src="assets/fisioterapia.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Masoterápia y reflexología</h3>
                        <ul class="list">
                            <li class="price">$700</li>
                            <li>- Masaje cuerpo completo <strong>$700</strong> <br/>
								- Masaje solo espalda <strong>$400</strong> <br/>
								- Reflexología <strong>$350</strong> <br/>
							</li>
                            <li><img src="assets/masoterpia.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Ondas de choque</h3>
                        <ul class="list">
                            <li class="price">$200**</li>
                            <li>*Tratamiento no invasivo</li>
							<li>Tendinitis/facitis plantar</li>
                            <li>** el numero de sesiones, periodicidad y costo varía de acuerdo al 
								padecimiento del paciente y su gravedad.
							</li>
                            <li><img src="assets/ondas.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Magnoterápia</h3>
                        <ul class="list">
                            <li class="price">$200**</li>
                            <li>Osteoporosis, artrosis, fractura y edema óseo</li>
							<li>Sesiones de 40 minutos (mínimo 20 sesiones)</li>
                            <li>** el numero de sesiones, periodicidad y costo varía de acuerdo al 
								padecimiento del paciente y su gravedad.
							</li>
                            <li><img src="assets/magno.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Láser</h3>
                        <ul class="list">
                            <li class="price">$300**</li>
                            <li>Cicatrización de ligamentos y desgarre muscular</li>
                            <li>** el numero de sesiones, periodicidad y costo varía de acuerdo al 
								padecimiento del paciente y su gravedad.
							</li>
                            <li><img src="assets/laser.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Vendaje muscular</h3>
                        <ul class="list">
                            <li class="price">$300</li>
                            <li>Aplicación de vendaje en rodilla, tobillo, brazo, hombro</li>
                            <li><img src="assets/vendaje.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Acupuntura</h3>
                        <ul class="list">
                            <li class="price">$200</li>
                            <li>Control del dolor utilizando electroacupuntura</li>
                            <li>** el numero de sesiones, periodicidad y costo varía de acuerdo al 
								padecimiento del paciente y su gravedad.
							</li>
                            <li><img src="assets/acup.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Auriculoterápia</h3>
                        <ul class="list">
                            <li class="price">$200**</li>
                            <li>Aplicación de electroestimulación y acupuntura</li>
                            <li>** el numero de sesiones, periodicidad y costo varía de acuerdo al 
								padecimiento del paciente y su gravedad.
							</li>
                            <li><img src="assets/auri.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Ejercicio de rehabilitación</h3>
                        <ul class="list">
                            <li class="price">$200**</li>
                            <li>Sesión de 40 minutos (incluye electroestimulación)</li>
                            <li>** el numero de sesiones, periodicidad y costo varía de acuerdo al 
								padecimiento del paciente y su gravedad.
							</li>
                            <li><img src="assets/rehab.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Rehabilitación acuatica</h3>
                        <ul class="list">
                            <li class="price">$480**</li>
                            <li>4 sesiones de 40 minutos</li>
                            <li>** el numero de sesiones, periodicidad y costo varía de acuerdo al 
								padecimiento del paciente y su gravedad.
							</li>
							<li>No incluye electroestimulación ni a pacientes con habilidades especiales</li>
                            <li><img src="assets/rehabacuat.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Consulta homeopática</h3>
                        <ul class="list">
                            <li class="price">$300**</li>
                            <li>No incluye medicamentos</li>
                            <li><img src="assets/homeo.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Flores de Bach</h3>
                        <ul class="list">
                            <li class="price">$200</li>
                            <li>Control de las emociones</li>
                            <li><img src="assets/flores.jpg" width="600" height="250"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>