<html>
	<body>
		<div id="price" class="section secondary-section">
            <div class="container">
                <div class="title">
                    <h1>Salón de fiestas</h1>
                    <p>Acuatica TIHUI ofrece sus servicios de salón de fiestas que incluyen: </p>
					<p> 
					- Sonido, juego de luces y Dj<br />
					- Mantelería con colores a elegir<br /> 
					- Juegos infantiles <br />
					- Boletaje</p>
				</div>
                <div class="price-table row-fluid">
                    <div class="span4 price-column">
                        <h3>Paquete Básico</h3>
                        <ul class="list">
                            <li class="price">$5,500</li>
                            <li>100 personas</li>
                            <li>7 hrs. de servicio en total</li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Paquete A</h3>
                        <ul class="list">
                            <li class="price">$6,500</li>
                            <li>150 personas</li>
                            <li>7 hrs. de servicio en total</li>
                        </ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Aquafiesta paquete TORTUGA</h3>
                        <ul class="list">
                            <li class="price">$5,000</li>
                            <li>20 invitados en alberca</li>
                            <li>4 hrs. de servicio en total (3 hrs. de alberca + 1 en estancia de cafetería)</li>
							<li>Incluye equipo de audio y estancia junto a la alberca con mesas y 50 sillas</li>
						</ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Aquafiesta paquete DELFÍN</h3>
                        <ul class="list">
                            <li class="price">$6,500</li>
                            <li>20 invitados en alberca</li>
                            <li>5 hrs. de servicio en total (3 hrs. de alberca + 2 en estancia de cafetería)</li>
							<li>Incluye equipo de audio y estancia junto a la alberca con mesas y 50 sillas</li>
						</ul>
                    </div>
					<div class="span4 price-column">
                        <h3>Aquafiesta paquete PULPO</h3>
                        <ul class="list">
                            <li class="price">$10,000</li>
                            <li>20 invitados en alberca</li>
                            <li>Incluye salón de fiestas, este paquete incluye todo lo del
								<strong>Paquete Básico</strong> del salón de fiestas + 3 hrs. de alberca
							</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>